[FORMAT]
max-line-length=120
# fn: closure, to: english word, ok: success, T: generic type
good-names=fn,to,ok,T

[MASTER]
# not all internal functions are supposed to be documented
# however modules and classes do need docstrings
disable = C0116
